<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <head style="text-align: center;">
    <h1>Departamento de transito</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/veiculos/cadastro">Cadastrar Veículo</a>
        <a href="/veiculos/todos">Ver Veículo</a>
    </nav>
    </head>

    <hr/>
    <main>
     {{{body}}}
    </main>
    <hr/>

</body>
    <footer style="text-align: center;">
        <p>Nenhum direito reservado.</p>
    </footer>
</body>

</html>