
    <h1>Form Veiculo</h1>
    <form action="/veiculos/cadastro" method="get">
        <div>
            <label for="modelo">Modelo</label>
            <input type="text" name="modelo" id="modelo" />
        </div>

        <div>
            <label for="placa">Placa</label>
            <input type="text" name="placa" id="placa" maxlength="8" minlength="7" />
        </div>

        <div>
            <label for="cor">Cor</label>
            <input type="text" name="cor" id="cor"/>
        </div>

        <div>
            <label for="ano">Ano</label>
            <input type="number" name="ano" id="ano" min="1886" max="2100"/>
        </div>
        <input type="submit" value="Cadastrar" />
    </form>
